<launch>
<!-- Based on pysical (MOCA) or simulation (Gazebo) testing choose option -->
<group ns="Jetson">
  <arg name="MOCA" value="true"/>
  <rosparam>
      environment: 1
  </rosparam>
  <rosparam file="$(find uav_demo)/params/jetson_params.yaml" />
  <param name="simulation" type="bool" value="false"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="true"/>
  <!-- start estimator node-->
  <node name="estimator" type="estimator.py" pkg="uav_geometric_controller" respawn="false" output="screen">
    </node>
  <!-- start controller node-->
  <node name="uav" type="node" pkg="uav_geometric_controller" respawn="false" output="screen">
  </node>
  <arg name="razor_config_file" default="$(find razor_imu_9dof)/config/my_razor.yaml"/>
  <node pkg="razor_imu_9dof" type="imu_node.py" name="imu_node" output="screen">
    <rosparam file="$(arg razor_config_file)" command="load"/>
  </node>
</group>
  <!-- <node name="rviz" pkg="rviz" type="rviz" output="screen" /> -->
</launch>
